/vendor
/node_modules
/public/build
/public/hot

.env
.env.*

/storage/*.key

/storage/app/public

/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/logs/*

bootstrap/cache/*.php

.idea
.vscode

Thumbs.db
.DS_Store

npm-debug.log
yarn-error.log